---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="About Tommy Falgout - Journaling of an overly curious maker"
	pubDate={new Date('2001-02-08')}
>
	<p>
		These are my words. You may not like my words, but that's ok. I do. I'll talk
		about technology, not wearing pants, trebuchets and other things that amuse me.
		Like Travel. And dancing. And building. I like to build things.
	</p>
	<p>
		I'm currently a Solution Architect at Microsoft! This makes me think that I'm
		really smart. But sometimes, I listen to myself and begin to doubt that.
	</p>
	<p>
		I mostly come out at night. Mostly.
	</p>
</Layout>
