---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Contact Me"
	description="Get in touch with Tommy Falgout"
	pubDate={new Date('2020-01-01')}
>
	<p>
		Want to collaborate on a cool project? Got an idea?
		<a href="mailto:tommy@lastcoolnameleft.com">Let me know!</a>
	</p>
	<p>
		You can also find me on:
	</p>
	<ul>
		<li><a href="https://www.linkedin.com/in/lastcoolnameleft/">LinkedIn</a></li>
		<li><a href="https://github.com/lastcoolnameleft">GitHub</a></li>
	</ul>
</Layout>
