---
import { getCollection } from "astro:content";
import Container from "../components/layouts/Container.astro";
import AboutMeAside from "../components/ui/AboutMeAside.astro";
import ContentGrid from "../components/layouts/sections/ContentGrid.astro";
import FeaturedContent from "../components/layouts/sections/FeaturedContent.astro";
import EmptyState from "../components/ui/EmptyState.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { attachMeta } from "../utils/meta";

const allPosts = await getCollection("blog", ({ data }) => !data.draft);

const sortedPosts = allPosts.sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const latestPosts = sortedPosts.slice(0, 3).map((post) => attachMeta(post));
const latestProjects = allPosts
    .filter((p) => p.data.tags.includes("project"))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 2)
    .map((project) => attachMeta(project));

const featured = allPosts
    .filter((item) => item.data.featured !== undefined)
    .sort((a, b) => (a.data.featured ?? 0) - (b.data.featured ?? 0));

const hasContent =
    featured.length > 0 || latestPosts.length > 0 || latestProjects.length > 0;
---

<BaseLayout
    title="LASTCOOLNAMELEFT"
    description="Billionaire, genius, playboy, philanthropist."
>
    <Container class="relative space-y-24 py-12">
        {
            hasContent ? (
                <>
                    {featured.length > 0 && (
                        <FeaturedContent items={featured} />
                    )}

                    {latestPosts.length > 0 && (
                        <ContentGrid
                            title="Latest Posts"
                            href="/blog"
                            viewAllText="View all posts →"
                            items={latestPosts}
                        />
                    )}

                    {latestProjects.length > 0 && (
                        <ContentGrid
                            title="Latest Projects"
                            href="/projects"
                            viewAllText="View all projects →"
                            items={latestProjects}
                            class="grid grid-cols-1 gap-8 md:grid-cols-2"
                        />
                    )}
                </>
            ) : (
                <EmptyState
                    title="Nothing here yet..."
                    message="Check back soon for new items!"
                />
            )
        }

        <div class="pointer-events-none absolute top-12 left-full ml-8 hidden 2xl:block w-80">
            <div class="pointer-events-auto sticky top-32">
                <AboutMeAside />
            </div>
        </div>
    </Container>
</BaseLayout>
